<?xml version="1.0" encoding="utf-8"?>
<odoo>
    
    <menuitem
        id="menu_compta_root"
        name="Comptabilite Client"
        sequence="545"

    /> 

     <menuitem
        id="menu_crud"
        name="CRUD"
        parent="menu_compta_root"
    />

    <menuitem
        id="menu_client"
        name="Clients"
        parent="menu_crud"
        action="action_compta_client"
    />

    <menuitem
        id="menu_commande"
        name="Commandes"
        parent="menu_crud"
        action="action_compta_commande"
    />

    <menuitem
        id="menu_facture"
        name="Factures"
        parent="menu_crud"
        action="action_compta_facture"
    />

    <menuitem
        id="menu_justificatif"
        name="Justificatifs"
        parent="menu_crud"
        action="action_compta_justificatif"
    />

    <menuitem
        id="menu_ligne_commande"
        name="Lignes de commande"
        parent="menu_crud"
        action="action_compta_ligne_commande"
    />

    <menuitem
        id="menu_mode_paiement"
        name="Modes de paiement"
        parent="menu_crud"
        action="action_compta_mode_paiement"
    />

    <menuitem
        id="menu_ressource"
        name="Ressources"
        parent="menu_crud"
        action="action_compta_ressource"
    />

    <menuitem
        id="menu_creance"
        name="Creances"
        parent="menu_crud"
        action="action_compta_creance"
    />

    <menuitem
        id="menu_ligne_facture"
        name="Ligne de facture"
        parent="menu_crud"
        action="action_compta_ligne_facture"
    />


</odoo>
